*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    margin: auto;
    max-width: 1400px;
}

:root{
    --black:#212529;
    --grey:#BFC0C0;
    --blue:#3498db;
    --white:#fff;
    --grey_btn:#F5F5F7;
    --blue:#07059A;
    --black_1: #212529;
    --product_box_color:#FEFEFE;
    --yellow:#E7CF50;
    --pink:#F8C0E1;
}

.products{
    margin-top: 100px;
}